<!doctype html>
<html lang="en">
<head>
<title>QSpace</title>
    <link href="https://getbootstrap.com/docs/4.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>    
    <link rel="stylesheet" href="/public/border.css">
    <link rel="stylesheet" href="/public/box.css">
    <link rel="stylesheet" href="/public/button.css">
    <link rel="stylesheet" href="/public/footer.css">
    <link rel="stylesheet" href="/public/font.css">
    <link rel="stylesheet" href="/public/outline.css">
    <style>
        body{
            background: black;
        }
        hr{
            background: grey;
        }
    </style>
    <script src="https://kit.fontawesome.com/06fb83cb17.js" crossorigin="anonymous"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" style="background-color: #e3f2fd;">
        <a class="navbar-brand" href="/" style = "font-weight: bold;">QSpace</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">뉴스피드 <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/codingquiz">문제 풀기 <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/community">커뮤니티 <span class="sr-only">(current)</span></a>
            </li>
            </ul>
            <a href="/login.html" style="margin: 5px" class="btn btn-outline-primary" id="log_in_out" type="button">로그인</a>
            <a href="/join.html" style="margin: 5px" class="btn btn-outline-primary" id="btn_join" type="button">회원가입</a>
        </div>
    </nav>

