<!doctype html>
<html lang="en">
<head>
<title>QSpace</title>
    <link href="https://getbootstrap.com/docs/4.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>    
    <link rel="stylesheet" href="./public/border.css">
    <link rel="stylesheet" href="./public/box.css">
    <link rel="stylesheet" href="./public/button.css">
    <link rel="stylesheet" href="./public/footer.css">
    <link rel="stylesheet" href="./public/font.css">
    <link rel="stylesheet" href="./public/outline.css">
    <style>
        body{
            background: black;
        }
        hr{
            background: grey;
        }
    </style>
    <script src="https://kit.fontawesome.com/06fb83cb17.js" crossorigin="anonymous"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" style="background-color: #e3f2fd;">
        <a class="navbar-brand" href="#" style = "font-weight: bold;">QSpace</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="./index.html">뉴스피드 <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="./codingquiz.html">문제 풀기 <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="./community.html">커뮤니티 <span class="sr-only">(current)</span></a>
            </li>
            </ul>
            <a style = "margin: 5px " class="btn btn-outline-primary" id = "log_in_out" type = "button" onclick = 'window.location.href = "login.html"'>로그인</a>
            <a style = "margin: 5px "class="btn btn-outline-primary" id = "btn_join" type = "button" onclick = 'window.location.href = "join.html"'>회원가입</a>
        </div>
    </nav>
    <main role="main" class="container">
        <br/><br/><br/>
        <br/><br/><br/>
        <h1 class = "title center white">Welcome to QSpace</h1>
        <br><hr><br>
        <h2 class = "idescription">아직도 계정이 없으시나요?</h2>
        <button class = "proceed" onclick = ""><span>회원가입</span></button><br/>
        <br />
        <hr >
        <br/><br/><br/>
        <br/><br/><br/>
        <h1 class = "title center white">추가된 문제</h1>
        <br><hr><br>
        <br/><br/><br/>
        <h1 class = "title center white">새로운 글</h1>
        <br><hr><br>
        <br/><br/><br/>
        <hr >
    </main>
    <footer class="site-footer">
        <div class="container">
            <div class="row">

                <div class="col-xs-15 col-md-10">
                <h6>Links</h6>
                <ul class="footer-links">
                    <li><a style = "margin: 5px" href="./license.html">라이선스</a><a style = "margin: 5px" href="https://github.com/potato179/">소스코드</a><a style = "margin: 5px" href="http://scanfcode.com/sitemap/">파트너</a></li>
                    <li><a style = "margin: 5px" href="http://scanfcode.com/contact/">커뮤니티 사용규칙</a><a style = "margin: 5px" href="http://scanfcode.com/contact/">이용약관</a><a style = "margin: 5px" href="http://scanfcode.com/contribute-at-scanfcode/">개인정보처리방침</a></li>
                </ul>
                </div>
            </div>
            <hr>
        </div>
        <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-6 col-xs-12">
            <p class="copyright-text">Copyright &copy; 2020 All Rights Reserved by 
        <a href="#">홍은표</a>.
            </p>
            </div>

            <div class="col-md-4 col-sm-6 col-xs-12">
            <ul class="social-icons">
                <li><a class="github" type="button" onclick = "window.open('https://github.com/potato179/')"><i class="fab fa-github"></i></a></li>
                <li><a class="facebook" type="button" onclick = "window.open('https://www.facebook.com/potato179bot/')"><i class="fab fa-facebook"></i></a></li>
                <li><a class="discord" type="button" onclick = "window.open('https://discord.gg/ecsApMn')"><i class="fab fa-discord"></i></a></li>
            </ul>
            </div>
        </div>
        </div>
    </footer>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script>
        $("#log_in_out").css("color", "black");
        $("#btn_join").css("color", "black");
    </script>

</body>
</html>