<%- include('./_head.ejs') %>
    <main role="main" class="container">
        <br><br><br>
        <br><br><br>
        <h1 class="title center white">Welcome to QSpace</h1>
        <br><hr><br>
        <h2 class = "idescription">아직도 계정이 없으시나요?</h2>
        <a href="/join.html" class="btn btn-primary proceed">회원가입</a><br/>
        <br />
        <hr >
        <br/><br/><br/>
        <br/><br/><br/>
        <h1 class = "title center white">추가된 문제</h1>
        <br><hr><br>
        <br/><br/><br/>
        <h1 class = "title center white">새로운 글</h1>
        <br><hr><br>
        <br/><br/><br/>
        <hr >
    </main>
    <footer class="site-footer">
        <div class="container">
            <div class="row">

                <div class="col-xs-15 col-md-10">
                <h6>Links</h6>
                <ul class="footer-links">
                    <li><a style="margin: 5px" href="/license">라이선스</a><a style="margin: 5px" href="https://github.com/potato179/">소스코드</a><a style="margin: 5px" href="http://scanfcode.com/sitemap/">파트너</a></li>
                    <li><a style="margin: 5px" href="http://scanfcode.com/contact/">커뮤니티 이용규칙</a><a style="margin: 5px" href="http://scanfcode.com/contact/">이용약관</a><a style="margin: 5px" href="http://scanfcode.com/contribute-at-scanfcode/">개인정보처리방침</a></li>
                </ul>
                </div>
            </div>
            <hr>
        </div>
        <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-6 col-xs-12">
            <p class="copyright-text">Copyright &copy; 2020 All Rights Reserved by <a href="#">홍은표</a>.
            </p>
            </div>

            <div class="col-md-4 col-sm-6 col-xs-12">
            <ul class="social-icons">
                <li><a class="github" type="button" onclick = "window.open('https://github.com/potato179/')"><i class="fab fa-github"></i></a></li>
                <li><a class="facebook" type="button" onclick = "window.open('https://www.facebook.com/potato179bot/')"><i class="fab fa-facebook"></i></a></li>
                <li><a class="discord" type="button" onclick = "window.open('https://discord.gg/ecsApMn')"><i class="fab fa-discord"></i></a></li>
            </ul>
            </div>
        </div>
        </div>
    </footer>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script>
        $("#log_in_out").css("color", "black");
        $("#btn_join").css("color", "black");
    </script>
</body>
</html>
