<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Signin Template · Bootstrap</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>로그인</title>
    <link rel="stylesheet" href="./public/border.css">
    <link rel="stylesheet" href="./public/box.css">
    <link rel="stylesheet" href="./public/button.css">
    <link rel="stylesheet" href="./public/footer.css">
    <link rel="stylesheet" href="./public/font.css">
    <link rel="stylesheet" href="./public/outline.css">
    <style>
        body {
            background:black;
        }
        .form {
            width: 25%;
        }
    </style>
    <script src="https://kit.fontawesome.com/06fb83cb17.js" crossorigin="anonymous"></script>
</head>
<body class = "center bg-black">
    <br><br><br>
    <br><br><br>
    <i class = "big white center fas fa-sign-in-alt"></i>
    <br>
    <h1 class = "xx-large white">회원가입</h1>
    <br><hr><br>
    <label for="inputEmail" class="sr-only">이메일 주소</label>
    <input type="email" id="inputEmail" class = "large form" placeholder = "이메일 주소" required autofocus>
    <br>
    <label for="inputPassword" class="sr-only">비밀번호</label>
    <input type="password" id="inputPassword" class = "large form" placeholder = "비밀번호" required>
    <br><br>
    <button class = "button-next button-normal x-large box-blue white" type="submit"><span>로그인</span></button>
    <br><hr><br>
    <a href = "./login.html">계정이 있으신가요? 바로 로그인 하세요!</a>
    <br>
    <a href = "./index.html">홈으로 돌아가기</a>
</body>
</html>