.button-normal{
    width: 25%;
    height: 2%;
}

.button-proceed{
    display: inline-block;
    border-radius: 4px;
    border: none;
    transition: all 0.5s;
    cursor: pointer;
    margin: 3px;
}
.button-proceed span{
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
.button-proceed span:after{
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
.button-proceed:hover span{
    padding-right: 25px;
}
.button-proceed:hover span:after{
    opacity: 1;
    right: 0;
}
.button-help{
    display: inline-block;
    border-radius: 4px;
    border: none;
    transition: all 0.5s;
    cursor: pointer;
    margin: 3px;
}
.button-help span{
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
.button-help span:after{
    content: '?';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
.button-help:hover span{
    padding-right: 25px;
}
.button-help:hover span:after{
    opacity: 1;
    right: 0;
}
.button-next{
    display: inline-block;
    border-radius: 4px;
    border: none;
    transition: all 0.5s;
    cursor: pointer;
    margin: 3px;
}
.button-next span{
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
.button-next span:after{
    content: '>';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
.button-next:hover span{
    padding-right: 25px;
}
.button-next:hover span:after{
    opacity: 1;
    right: 0;
}
.button-prev{
    display: inline-block;
    border-radius: 4px;
    border: none;
    transition: all 0.5s;
    cursor: pointer;
    margin: 3px;
}
.button-prev span{
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button-prev span:after{
    content: '<';
    position: absolute;
    opacity: 0;
    top: 0;
    left: -20px;
    transition: 0.5s;
}
.button-prev:hover span{
    padding-left: 25px;
}
.button-prev:hover span:after{
    opacity: 1;
    left: 0;
}

.facebook:hover{
    background-color:#3b5998
}
.twitter:hover{
    background-color:#00aced
}
.linkedin:hover{
    background-color:#007bb6
}
.github:hover{
    background-color:grey;
}
.dribbble:hover{
    background-color:#ea4c89
}